@font-face {
    font-family: robotoBold;
    src: url(font/Roboto-Bold.ttf);
  }

.container{
    width: fit-content;
    border-radius: 5px;
    border: 1px solid #A772CF;
}

.line{
    display: flex;
    
}

.line div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 102px;
    font-size: 32px;
    line-height: 37px;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-family: robotoBold;
}

.line .operation {
    background-color: #A772CF;
}

#result{
    display: block;
    font-size: 72px;
    line-height: 88px;
    width: 423px;
    height: 200px;
    
}


#count{
    font-size: 56px;
    line-height: 66px;    
    width: 423px;
    height: 145px;    
}

input{
    font-family: robotoBold;
    padding-right: 30px;
    border: 0;
    background-color: white;
    text-align: right;
}
